body {
    background-color: rgb(157, 240, 240);
  }
  
  img {
    display: flex;
    height: 200%;
    width: 100%;
    align-items: right;
  }
  div {
    align-content: center;
    /* text-align: center; */
    margin-left: 100px;
    color: rgb(214, 73, 73);
    border: 50%;
  }
  